@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F6E7D8;
  color: #400E32;
  font-family: 'Cabin', sans-serif;
}

.container {
  min-height: 100vh;
  text-align: center;
  max-width: 800px;
  margin: auto;
}

h1 {
  padding-top: 5vh;
}

.item-left {
  margin-top: 40px;
  font-size: 1.2rem;
}

.red {
  color: red;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-top: 5px;
  height: 30px;
}

.input-container input {
  width: 350px;
  font-size: 1.2rem;
  height: 30px;
  text-indent: 5px;
  border-radius: 5px;
  border: none;
  font-family: 'Cabin', sans-serif;
}

.input-container input:focus {
  outline: none;
}

.input-container-btns {
  margin-left: 5px;
}

.input-container-btns button {
  font-size: 1.1rem;
  padding: 7px;
  margin: 0 2px;
  border-radius: 15px;
  cursor: pointer;
  border: none;
  font-family: 'Cabin', sans-serif;
  background-color: #F68989;
}

.input-container-btns button:active {
  background-color: pink;
  box-shadow: inset 2px 2px 5px -2px black;
}

.delete-all-btn:hover {
  background-color: #ff0099;
}

.item-in {
  margin: 10px auto;
  max-width: 520px;
  text-align: left;
  font-size: 1.5rem;
}

.item-in input {
  margin-right: 7px;
}

@media (max-width: 375px) {

  .input-container {
    margin-bottom: 60px;
  }

  .input-container input {
    width: 90%;
  }

  .input-container-btns {
    margin-top: 7px;
  }

  .item-in {
    padding-left: 20px;
  }
  
}

@media (min-width: 376px) and (max-width: 425px) {

  .input-container {
    margin-bottom: 60px;
  }
  
  .input-container input {
    width: 90%;
  }

  .input-container-btns {
    margin-top: 10px;
  }

  .item-in {
    padding-left: 25px;
  }
}

@media (min-width: 426px) and (max-width: 568px) {
  .input-container {
    margin-bottom: 60px;
  }

  .input-container-btns {
    margin-top: 10px;
  }

  .item-in {
    padding-left: 10px;
    max-width: 350px;
  }
}